<canvas #canvas class="layer" style="cursor: grab"></canvas>
<ng-content></ng-content>

<!-- <div class="layer" style="color: red; font-family: sans-serif; font-style: bold; font-size: 2rem; background-color: rgba(0,0,0,0.4);">
  image width => {{ image.width }} <br>
  position => x: {{ config.position.x }} y: {{ config.position.y }}
  <br>
  zoom
  <input type="number" [ngModel]="config.zoom" (ngModelChange)="setZoom($event)">
  <br>
  escala
  <input type="number" [ngModel]="config.scale" (ngModelChange)="setScale($event)">
</div> -->
